{% extends "base.html" %}

{% block central_title %}
    Trip Manager 
{% endblock %}

{% block content %}
    <div class="bg-cover bg-center min-h-screen flex flex-col justify-center items-center" style="background-image: url('{{ url_for('static', filename='homepage.jpg') }}')">
        <div class="text-white text-center px-4 sm:px-6 lg:px-8 py-16 sm:py-24 lg:py-48">
            <h1 class="text-5xl sm:text-6xl lg:text-8xl font-serif font-bold leading-tight mb-4 tracking-tight">
                Packr
            </h1> 
            <p class="text-lg sm:text-xl lg:text-2xl font-medium mb-8">Effortlessly create personalized packing lists for any trip.</p>
            <a href="{{url_for('auth.signup')}}" class="bg-[#42BA96] hover:bg-[#36a380] text-white font-bold py-3 px-8 rounded-full text-sm sm:text-base lg:text-lg transition duration-300 ease-in-out mr-4">
                Get Started - It's Free
             </a>
             <a href="{{url_for('auth.login')}}" class="bg-gray-800 hover:bg-gray-700 font-bold py-3 px-6 rounded-full text-sm sm:text-base lg:text-lg transition duration-300 ease-in-out">
                Log In
             </a>
        </div>
    </div>

    <div class="bg-gray-50 py-16 sm:py-24 lg:py-32">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-white rounded-lg shadow-lg p-6 sm:p-8">
                    <h3 class="text-xl sm:text-2xl font-bold mb-4">Add Your Essentials</h3>
                    <p class="text-gray-600 text-sm sm:text-base">
                        Create a digital closet of your belongings. From clothes and shoes to gadgets and toiletries, we've got you covered.
                    </p>
                </div>
                <div class="bg-white rounded-lg shadow-lg p-6 sm:p-8">
                    <h3 class="text-xl sm:text-2xl font-bold mb-4">Plan Your Journey</h3>
                    <p class="text-gray-600 text-sm sm:text-base">
                        Tell us about your trip - destination, duration, and any special needs. We'll handle the rest.
                    </p>
                </div>
                <div class="bg-white rounded-lg shadow-lg p-6 sm:p-8">
                    <h3 class="text-xl sm:text-2xl font-bold mb-4">Pack Like a Pro</h3>
                    <p class="text-gray-600 text-sm sm:text-base">
                        Receive a customized packing list tailored to your trip and preferences. No more overpacking or forgetting essentials.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}